.section {
  height: 100vh;
  min-height: 652px;
  display: flex;
  flex-direction: column;
  justify-content: center;  

  &--font-color--white {
    color: #fff;

    .section__title {
      color: inherit;
    }
  }
}

.headline {
  text-align: center;
  margin-bottom: 49px;

  &__title {
    margin-bottom: 9px;
  }

  &__subtitle {
    padding: 0 27%;
  }
}

.section__title {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  // margin-bottom: 9px;
  color: $black;
  text-align: center;
}





